{% load i18n static %}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block head_title %}{% endblock %}</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.7.0/flowbite.min.css" rel="stylesheet"/>
    <script src="{% static 'Home/js/components/darkMode.js' %}"></script>
    {% block extra_head %}
    {% endblock %}
    <style>
        .sidebar-collapsed {
            width: 4rem !important;
        }

        .sidebar-collapsed .sidebar-text {
            opacity: 0;
            transition: opacity 0.3s ease-in-out;
        }

        .sidebar-hidden {
            display: none !important;
        }

        @media (min-width: 640px) {
            #logo-sidebar {
                position: sticky !important;
            }
        }
    </style>
    <script>
        function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        const csrftoken = getCookie('csrftoken');
    </script>
</head>
<body>
{% block navbar %}
{% endblock %}
<div class="min-h-screen bg-gray-200 dark:bg-gray-900">
    <div class="sm:flex gap-2 mb-2">
        {% block sidebar %}
        {% endblock %}

        {% block content %}
        {% endblock %}
    </div>

    {% block footer %}
    {% endblock %}
</div>
<!-- Tailwind JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.7.0/flowbite.min.js"></script>
<!-- jQuery -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="{% static 'Home/js/components/switchDarkMode.js' %}"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
{% if messages %}
    {% for m in messages %}
        <script>
            Swal.fire({
                title: '{{ m.tags|capfirst }}',
                text: '{{ m }}',
                icon: '{{ m.tags }}'
            })
        </script>
    {% endfor %}
{% endif %}
{% block extra_body %}
{% endblock %}
<script src="{% static 'Home/js/components/toggleSidebar.js' %}"></script>
</body>
</html>
