{% load static tailwind_tags %}
<!doctype html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>
        {% block title %}
        {% endblock %}
    </title>
    {% block extra_head %}
    {% endblock %}
    <style>
        .sidebar-collapsed {
            width: 4rem !important;
        }

        .sidebar-collapsed .sidebar-text {
            opacity: 0;
            transition: opacity 0.3s ease-in-out;
        }

        .sidebar-hidden {
            display: none !important;
        }

        @media (min-width: 640px) {
            #logo-sidebar {
                position: sticky !important;
            }
        }
    </style>
    <!-- Tailwind CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.7.0/flowbite.min.css" rel="stylesheet"/>
    <script src="{% static 'Home/js/components/darkMode.js' %}"></script>
</head>
<body>
{% block navbar %}
{% endblock %}

<div class="min-h-screen bg-gray-200 dark:bg-gray-900">
    <div class="sm:flex gap-2 mb-2">
        {% block sidebar %}
        {% endblock %}

        {% block content %}
        {% endblock %}
    </div>

    {% block footer %}
    {% endblock %}

</div>

<!-- Tailwind JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.7.0/flowbite.min.js"></script>
<!-- jQuery -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<!-- Sweet Alert -->
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<!-- Custom JS -->
{% block js %}
{% endblock %}
<script src="{% static 'Home/js/components/toggleSidebar.js' %}"></script>
<script src="{% static 'Home/js/components/switchDarkMode.js' %}"></script>
<script src="{% static 'Home/js/components/manageDrawers.js' %}"></script>
<script src="{% static 'Home/js/components/messages.js' %}"></script>

{% if messages %}
    {% for m in messages %}
        <script>
            Swal.fire({
                title: '{{ m.tags|capfirst }}',
                text: '{{ m }}',
                icon: '{{ m.tags }}'
            })
        </script>
    {% endfor %}
{% endif %}
</body>
</html>